<div class="my-3">
  
  <tabset>

    <!-- player tab -->
    <tab heading="Player" id="tab1">

      <!-- row for "no games yet" message -->
      <div *ngIf="leagueService.currentPlayerScoreboardPicks.length == 0" class="row mx-0 my-1">
        <div class="col-sm-12 px-0">
          <div class="card text-white border-warning mb-3  my-2">
            <div class="card-body">
              <h4 class="card-title">Games aren't ready for the week yet!</h4>
              <p class="card-text">The games have not been selected for this week yet. They *should* be set by the Monday of this week ... ish.
                Contact stoopideriest-soft support desk if you have concerns.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- picks -->
      <div *ngFor="let pick of leagueService.currentPlayerScoreboardPicks" class="my-3 border border-light container">
        <div class="row">
          <div class="col-md-12 text-white bg-secondary py-1">{{ pick.gameStatusDescription }}</div>
        </div>
        <div class="row p-1">
          <div class="col-md-5 p-2" [ngClass]="
              {
                'border rounded': pick.pick == 'Away', 
                'border-danger': pick.pick == 'Away' && (pick.pickState == 'Losing' || pick.pickState == 'Lost'),
                'border-success': pick.pick == 'Away' && (pick.pickState == 'Winning' || pick.pickState == 'Won'), 
                'bg-danger': pick.pick == 'Away' && pick.pickState == 'Lost',
                'bg-success': pick.pick == 'Away' && pick.pickState == 'Won'
              }">
            <div class="row">
              <div class="col-md-10 text-nowrap">
                <input type="radio" name="{{ pick.gameId }}" value="Away" [disabled]="pick.gameState != 'SpreadLocked'" [checked]="pick.pick == 'Away'">
                <img src="assets/team_icons/{{ pick.awayTeamIconFileName }}" width="24" class="mx-1" />
                <span *ngIf="pick.awayTeamRank > 0" class="font-weight-light text-light px-1">#{{ pick.awayTeamRank }}</span>
                {{ pick.awayTeamLongName }}
                <span class="font-weight-light text-light px-1">({{ pick.awayTeamWins }}-{{ pick.awayTeamLosses }})</span>
              </div>
              <div class="col-md-2 text-nowrap font-weight-bold text-right">
                <h4>{{ pick.awayTeamScore }}</h4>
              </div>
            </div>
            <div class="row">
              <div *ngIf="pick.pick == '##NOPEY##Away' && (pick.gameState == 'InGame' || pick.gameState == 'Final')" class="col-md-10 text-nowrap">
                from spread {{ pick.pickToSpreadNeutral }}
              </div>
            </div>
          </div>
          <div class="col-md-2 text-center">spread
            <div [ngClass]="{'text-warning': pick.gameState == 'SpreadNotSet'}">
              <span *ngIf="pick.spread == null">?</span>
              <span *ngIf="pick.spread != null">
                <span *ngIf="pick.spreadDirection == 'ToAway'" class="font-weight-bold lead">&#8701;</span>
                {{ pick.spread }}
                <span *ngIf="pick.gameState == 'SpreadNotSet'">*</span>
                <span class="font-weight-bold lead" *ngIf="pick.spreadDirection == 'ToHome'">&#8702;</span>
              </span>
            </div>
          </div>
          <div class="col-md-5 p-2" [ngClass]="
              {
                'border rounded': pick.pick == 'Home', 
                'border-danger': pick.pick == 'Home' && (pick.pickState == 'Losing' || pick.pickState == 'Lost'),
                'border-success': pick.pick == 'Home' && (pick.pickState == 'Winning' || pick.pickState == 'Won'), 
                'bg-danger': pick.pick == 'Home' && pick.pickState == 'Lost',
                'bg-success': pick.pick == 'Home' && pick.pickState == 'Won'
              }">
            <div class="row">
              <div class="col-md-10 text-nowrap">
                <input type="radio" name="{{ pick.gameId }}" value="Home" [disabled]="pick.gameState != 'SpreadLocked'" [checked]="pick.pick == 'Home'">
                <img src="assets/team_icons/{{ pick.homeTeamIconFileName }}" width="24" class="mx-1" />
                <span *ngIf="pick.homeTeamRank > 0" class="font-weight-light text-light px-1">#{{ pick.homeTeamRank }}</span>
                {{ pick.homeTeamLongName }}
                <span class="font-weight-light text-light px-1">({{ pick.homeTeamWins }}-{{ pick.homeTeamLosses }})</span>
              </div>
              <div class="col-md-2 text-nowrap font-weight-bold text-right">
                <h4>{{ pick.homeTeamScore }}</h4>
              </div>
            </div>
            <div class="row">
              <div *ngIf="pick.pick == '##NOPEY##Home' && (pick.gameState == 'InGame' || pick.gameState == 'Final')" class="col-md-10 text-nowrap">
                from spread {{ pick.pickToSpreadNeutral }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>


    <!-- week tab -->
    <tab heading="Week">
      

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Team A
              <br>Team B</th>
            <th scope="col">Team C
              <br>Team D</th>
            <th scope="col">Team E
              <br>Team F</th>
            <th scope="col">Team A
              <br>Team B</th>
            <th scope="col">Team C
              <br>Team D</th>
            <th scope="col">Team E
              <br>Team F</th>
            <th scope="col">Team A
              <br>Team B</th>
            <th scope="col">Team C
              <br>Team D</th>
            <th scope="col">Team E
              <br>Team F</th>
            <th scope="col">Team A
              <br>Team B</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-default">
            <th scope="row">Barney</th>
            <td class="text-danger">L</td>
            <td class="text-success">W</td>
            <td class="text-success">W</td>
            <td class="text-danger">L</td>
            <td class="text-success">W</td>
            <td>-</td>
            <td class="text-success">W</td>
            <td class="text-success">W</td>
            <td>-</td>
            <td class="text-danger">L</td>
            <td>6</td>
          </tr>
          <tr class="table-default">
            <th scope="row">Fred</th>
            <td class="text-success">W</td>
            <td class="text-success">W</td>
            <td class="text-danger">L</td>
            <td class="text-danger">L</td>
            <td class="text-success">W</td>
            <td>-</td>
            <td class="text-danger">L</td>
            <td class="text-success">W</td>
            <td class="text-danger">L</td>
            <td class="text-danger">L</td>
            <td>4</td>
          </tr>
          <tr class="table-active">
            <th scope="row">Kapieyow</th>
            <td class="text-danger">L</td>
            <td class="text-success">W</td>
            <td class="text-success">W</td>
            <td class="text-danger">L</td>
            <td class="text-success">W</td>
            <td>-</td>
            <td class="text-success">W</td>
            <td class="text-success">W</td>
            <td>-</td>
            <td class="text-danger">L</td>
            <td>6</td>
          </tr>

          <tr class="table-default">
            <th scope="row">Wilma</th>
            <td class="text-danger">L</td>
            <td class="text-success">W</td>
            <td class="text-success">W</td>
            <td class="text-danger">L</td>
            <td class="text-success">W</td>
            <td>-</td>
            <td class="text-success">W</td>
            <td class="text-success">W</td>
            <td>-</td>
            <td class="text-danger">L</td>
            <td>6</td>
          </tr>

        </tbody>
      </table>
    </tab>
    <tab heading="Season">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">1</th>
            <th scope="col">2</th>
            <th scope="col">3</th>
            <th scope="col">4</th>
            <th scope="col">5</th>
            <th scope="col">6</th>
            <th scope="col">7</th>
            <th scope="col">8</th>
            <th scope="col">9</th>
            <th scope="col">10</th>
            <th scope="col">11</th>
            <th scope="col">12</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-default">
            <th scope="row">Barney</th>
            <td>4</td>
            <td>3</td>
            <td>7</td>
            <td>5</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <th scope="row">19</th>
          </tr>
          <tr class="table-default">
            <th scope="row">Fred</th>
            <td>4</td>
            <td>5</td>
            <td>8</td>
            <td>6</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <th scope="row">23</th>
          </tr>
          <tr class="table-active">
            <th scope="row">Kapieyow</th>
            <td>6</td>
            <td>4</td>
            <td>11</td>
            <td>9</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <th scope="row">30</th>
          </tr>
          <tr class="table-default">
            <th scope="row">Wilma</th>
            <td>12</td>
            <td>3</td>
            <td>11</td>
            <td>8</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <th scope="row">34</th>
          </tr>

        </tbody>
      </table>
    </tab>
  </tabset>
</div>