espn-example.json
espn-example-single-game.json
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/bin/Debug/netcoreapp2.2/ExampleCSharpBot.deps.json
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/bin/Debug/netcoreapp2.2/ExampleCSharpBot.dll
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/bin/Debug/netcoreapp2.2/ExampleCSharpBot.pdb
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/bin/Debug/netcoreapp2.2/ExampleCSharpBot.runtimeconfig.dev.json
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/bin/Debug/netcoreapp2.2/ExampleCSharpBot.runtimeconfig.json
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/obj/ExampleCSharpBot.csproj.nuget.cache
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/obj/ExampleCSharpBot.csproj.nuget.dgspec.json
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/obj/ExampleCSharpBot.csproj.nuget.g.props
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/obj/ExampleCSharpBot.csproj.nuget.g.targets
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/obj/project.assets.json
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/obj/Debug/netcoreapp2.2/ExampleCSharpBot.AssemblyInfo.cs
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/obj/Debug/netcoreapp2.2/ExampleCSharpBot.AssemblyInfoInputs.cache
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/obj/Debug/netcoreapp2.2/ExampleCSharpBot.assets.cache
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/obj/Debug/netcoreapp2.2/ExampleCSharpBot.csproj.CoreCompileInputs.cache
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/obj/Debug/netcoreapp2.2/ExampleCSharpBot.csproj.FileListAbsolute.txt
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/obj/Debug/netcoreapp2.2/ExampleCSharpBot.csprojAssemblyReference.cache
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/obj/Debug/netcoreapp2.2/ExampleCSharpBot.dll
pickem-bots/ExampleCSharpBot/ExampleCSharpBot/obj/Debug/netcoreapp2.2/ExampleCSharpBot.pdb
