espn-example.json
espn-example-single-game.json
/pickem-bots/ExampleCSharpBot/.vs/ExampleCSharpBot
/pickem-bots/ExampleCSharpBot/ExampleCSharpBot/bin/Debug/netcoreapp2.2
/pickem-bots/ExampleCSharpBot/ExampleCSharpBot/obj
pickem-sql/setup-new-pickem-db-server.sql
