<!-- top nav -->
<div class="bs-docs-section clearfix">
    <div class="row">
        <div class="col-sm-12">

            <div class="bs-component">
                <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
                    <a class="navbar-brand" href="javascript:return null;" (click)="statusDialog.show();">NCAAM - Pickem'</a>
                    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" [collapse]=isCollapsed>
                        <form class="form-inline my-2 my-lg-0 ml-auto" *ngIf="statusService.userLoggedIn">

                            <div class="btn-group mx-2" dropdown>
                                <button id="button-player" dropdownToggle type="button" class="btn btn-outline-warning dropdown-toggle" aria-controls="dropdown-player">
                                    {{ statusService.playerTagFilter }}
                                    <span class="caret"></span>
                                </button>
                                <ul id="dropdown-player" *dropdownMenu class="dropdown-menu bg-warning" role="menu" aria-labelledby="button-player">
                                    <li *ngFor="let player of players" role="menuitem" (click)="changePlayer(player.playerTag);">
                                        <a class="dropdown-item">{{ player.playerTag }}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group" dropdown>
                                <button id="button-week" dropdownToggle type="button" class="btn btn-outline-warning dropdown-toggle" aria-controls="dropdown-week">
                                    Week {{ statusService.weekNumberFilter }}
                                    <span class="caret"></span>
                                </button>
                                <ul id="dropdown-week" *dropdownMenu class="dropdown-menu bg-warning" role="menu" aria-labelledby="button-week">
                                    <li *ngFor="let week of weeks" role="menuitem" (click)="changeWeek(week);">
                                        <a class="dropdown-item">Week {{ week }}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="ml-3">
                                <a class="navbar-brand" (click)="logout()">{{ statusService.userPlayerTag }}</a>
                            </div>
                            <div>
                                <button type="button" class="btn btn-outline-warning" (click)="reloadScoreboards()">Reload</button>
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>